p{
    color: blue;
    text-decoration: underline;
}
.className{
    color: red;
    font-size: 18px;
}
#idName{
    color: black;
    font-size: 18px;
}
h1 em{
    color: red;
}

div,span{
    color: green;
}

a:link {color: #FF0000}		/* 未访问的链接 */
a:visited {color: #00FF00}	/* 已访问的链接 */
a:hover {color: #FF00FF}	/* 鼠标移动到链接上 */
a:active {color: #0000FF}	/* 选定的链接 */